# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/
dist/
dist-ssr/

# Environment files
.env
.env.*

# Editor files
.vscode/
.idea/
.DS_Store

# Coverage
coverage/

# Build
build/
out/

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*