/* html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
} */
/* RESET */
body,html,#root{
  margin:0;
  padding:0;
  height:100%;
  width:100%;
}

.main-container{
  display:flex;
  height:100vh;
  width:100vw;
  overflow:hidden;
}

.sidebar{
  width:260px;
  flex-shrink:0;
}

.map-container{
  flex:1;
  height:100vh;
  width:100%;
  position:relative;
}

/* 📱 MOBILE */
@media(max-width:768px){

  .main-container{
    flex-direction:column;
    height:auto;
  }

  .sidebar{
    width:100%;
  }

  .map-container{
    width:100%;
    height:75vh;
  }
}